body { background: lightblue; }

button {background: 33FF99; font-weight: bold;}

.combo {width: 71px; font-size: 9px; display:inline; float: left;margin-right: 10px;}
#playerHand1{clear:both;}
#playerHand2{clear:both;}
#playerHand3{clear:both;}
#playerHand4{clear:both;}
#playerHand5{clear:both;}
#playerHand6{clear:both;}
#playerHand7{clear:both;}
#tools{ clear:both;}